<form method="post" action="{{ path('genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('etes-vous sûre de supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
